<head>
    <link rel="stylesheet" type="text/css" href="user-profile.component.css" media="screen" />
</head>

<app-user-menu></app-user-menu>

<div class="card" *ngIf="user">
    <div class="container">
        <div class="containerImg"> 
            <img src="">
            <br>
        </div>
        <div class="item-form">
            <label for="form-fname">First Name</label><br>
            <input  id="form-fname" placeholder="First Name" [(ngModel)]="user.fname" type="text">
            <td></td>
            <label for="form-lname">Last Name</label><br>
            <input  id="form-lname" placeholder="Last Name" [(ngModel)]="user.lname" type="text">
            <td></td>
            <label for="form-email">Email</label><br>
            <input disabled id="form-email" placeholder="Email" [(ngModel)]="user.email" type="text">
            <td></td>
            <label for="form-gender">Gender</label><br>
            <select  id="form-gender"   placeholder="Gender" [(ngModel)]="user.gender" type="text">
                <option value ="M">M</option>
                <option value ="F">F</option>
            </select><br>
            <label for="form-password">Password</label><br>
            <input  id="form-password" placeholder="Password..." [(ngModel)]="user.password" type="password" onfocus="this.value=''">
            <td></td><br>
            <a mat-raised-button class="item-button" (click)="updateProfile(user)"> Edit User</a>
        </div>
    </div>
</div>