<div id="container">
    <h1 align="center">Register</h1>
    <div class="container">
        <div class="names">
            <div class="first">
                <label for="fname">First Name</label>
                <input [(ngModel)]="fname" placeholder="Your name..." type="text" id="fname" name="fname"><br>
            </div>
            <div class="last">
                <label for="lname">Last Name</label>
                <input [(ngModel)]="lname" placeholder="Your Last name..." type="text" id="lname" name="lname"><br>
            </div>
        </div>
        <div class="informations">
            <div class="first">
                <label for="emailLabel">Email</label>
                <input [(ngModel)]="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Your Email..."
                    type="text" id="email" name="email">
            </div>
            <div class="last">
                <label for="passLabel">Password</label>
                <input [(ngModel)]="password" placeholder="Your password..." type="Password" id="pass" name="password">
            </div>
        </div>
        <div class="informations">
            <div class="first">
                <label for="genLabel">Gender</label>
                <select [(ngModel)]="gender" id="gender" name="gender">
                    <option value="M">M</option>
                    <option value="F">F</option>
                </select>
            </div>
        </div>
        <button type="submit" (click)="register()">>Submit</button>
        <a (click)="login()">Back to Login</a>
    </div>
</div>