<mat-toolbar color="secondary" class="mat-elevation-z6">
    <span>PAW</span>
    <div>
        <a mat-button (click)="home()"> Home </a>
        <a mat-button (click)="createAdmin()"> Create Admin </a>
        <a mat-button (click)="showAdmins()"> Show Admins </a>
        <a mat-button (click)="locals()"> Locals </a>
        <a mat-button (click)="users()"> Users </a>
        <a mat-button (click)="profile()"> Profile </a>
        <a mat-button mat-raised-button color="warn" (click)="logout()"> Logout </a>
    </div>
</mat-toolbar>